// grid & responsive layout
// -----------------------------------------------------------------

// breakpoints
$XS:                         500px !default;
$SM:                          768px !default;
$MD:                          992px !default;
$LG:                          1200px !default;

// media queries
$MQs: true !default;

$color-primary:              #cb0000;
$color-secondary:            #000000;

@import "library/mixins.scss";
@import "library/grid.scss";